<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Help page</title>
<body>
  <h1>{{userName}}</h1>
  <h3>Welcome to helper Page</h3>
  <p>This page will provide u all the necessary information for your upcoming projects..<br>So stay tuned for more information!!!</p>
  <footer><p>Copyright {{regYear}}</p></footer>
</body>
</head>
</html>
